@import "tailwindcss";

@font-face {
  font-family: "SpaceGrotesk";
  src:
  url("./assets/fonts/SpaceGrotesk-VariableFont_wght.woff2") format("woff2"),
}

@font-face {
  font-family: "Inter";
  src:
  url("./assets/fonts/Inter-VariableFont_opsz,wght.woff2") format("woff2"),
}

@theme {
  --color-text: var(--text);
  --color-text-heading: var(--text-heading);
  --color-bg: var(--bg);
  --color-soft-bg: var(--soft-bg);
  --color-border: var(--border);
  --color-accent: var(--accent);
  --color-soft-accent: var(--soft-accent);
  --color-accent-bg: var(--accent-bg);
  --color-accent-border: var(--accent-border);
  --color-code-bg: var(--code-bg);
  --color-social-bg: var(--social-bg);
  --color-shadow: var(--shadow);

  --font-sans: 'SpaceGrotesk', sans-serif;
  --font-heading: 'Inter', sans-serif;

  --animate-rotate: rotate 10s linear infinite;
  @keyframes rotate {
    0% {
      transform: rotateZ(10deg) rotateX(-30deg) rotateY(0deg);
    }

    25% {
      transform: rotateZ(10deg) rotateX(-30deg) rotateY(90deg);
    }

    50% {
      transform: rotateZ(10deg) rotateX(-30deg) rotateY(180deg);
    }

    75% {
      transform: rotateZ(10deg) rotateX(-30deg) rotateY(270deg);
    }

    100% {
      transform: rotateZ(10deg) rotateX(-30deg) rotateY(360deg);
    }
  }

  --animate-fade-scale: fade-scale 0.6s ease-out both;
  @keyframes fade-scale {
    from {
      opacity: 0.2;
      transform: scale(0.75);
    }

    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}

:root {
  --text: #5b5463;
  --text-heading: #08060d;
  --bg: #ffffff;
  --soft-bg: #e0e0e0;
  --border: #e5e4e7;
  
  --accent: #660708;
  --soft-accent: #871214;
  --accent-bg: rgba(102, 7, 8, 0.1);
  --accent-border: rgba(102, 7, 8, 0.5);

  --code-bg: #f4f3ec;
  --social-bg: rgba(244, 243, 236, 0.5);

  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  font: 18px/145% var(--font-sans);

  color: var(--text);
  background: var(--bg);

  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-heading: #f3f4f6;
    --bg: #16171d;
    --soft-bg: #141c23;
    --border: #2e303a;

    --accent: #b4181b;
    --soft-accent: #fce9e9;
    --accent-bg: rgba(180, 24, 27, 0.15);
    --accent-border: rgba(180, 24, 27, 0.5);

    --code-bg: #1f2028;
    --social-bg: rgba(47, 48, 58, 0.5);

    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px,
      rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }
}

