@import "tailwindcss";

:root {
  --text: #5b5463;
  --text-heading: #08060d;
  --bg: #ffffff;
  --soft-bg: #e0e0e0;
  --border: #e5e4e7;

  --accent: #660708;
  --soft-accent: #871214;
  --accent-bg: rgba(102, 7, 8, 0.1);
  --accent-border: rgba(102, 7, 8, 0.5);

  --code-bg: #f4f3ec;
  --social-bg: rgba(244, 243, 236, 0.5);

  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --font-sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --font-mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--font-sans);

  color: var(--text);
  background: var(--bg);

  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-heading: #f3f4f6;
    --bg: #16171d;
    --soft-bg: #141c23;
    --border: #2e303a;

    --accent: #b4181b;
    --soft-accent: #fce9e9;
    --accent-bg: rgba(180, 24, 27, 0.15);
    --accent-border: rgba(180, 24, 27, 0.5);

    --code-bg: #1f2028;
    --social-bg: rgba(47, 48, 58, 0.5);

    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px,
      rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }
}

@theme {
  --color-primary: var(--accent);
  --color-secondary: var(--soft-accent);
  --color-heading: var(--text-heading);
  --color-primary-bg: var(--bg);
  --color-secondary-bg: var(--soft-bg);
}

button {
  background: var(--accent);
  border: 1px solid var(--accent-border);
}

span {
  color: var(--soft-accent)
}